background_color                         #141415
custom_color_mode_empty_background_color #141415

#page_separator_color                     #141415

text_highlight_color                     #606079
visual_mark_color                        #606079
search_highlight_color                   #f3be7c
link_highlight_color                     #6e94b2
synctex_highlight_color                  #7fa563

highlight_color_a                        #f3be7c
highlight_color_b                        #7fa563
highlight_color_c                        #6ababa
highlight_color_d                        #d8647e
highlight_color_e                        #bb9dbd
highlight_color_f                        #6e94b2
highlight_color_g                        #f3be7c

keyboard_select_background_color         #7fa563
keyboard_select_text_color               #383848

custom_background_color                  #141415
custom_text_color                        #cdcdcd

ui_text_color                            #cdcdcd
ui_background_color                      #1c1c24
ui_selected_text_color                   #cdcdcd
ui_selected_background_color             #383848

status_bar_color                         #1c1c24
status_bar_text_color                    #cdcdcd
