background_color                         #faf9f7
custom_color_mode_empty_background_color #faf9f7

#page_separator_color                     #faf9f7

text_highlight_color                     #aaa9a4
visual_mark_color                        #aaa9a4
search_highlight_color                   #be7e05
link_highlight_color                     #5079be
synctex_highlight_color                  #608e32

highlight_color_a                        #be7e05
highlight_color_b                        #608e32
highlight_color_c                        #3a8b84
highlight_color_d                        #d05858
highlight_color_e                        #b05ccc
highlight_color_f                        #5079be
highlight_color_g                        #be7e05

keyboard_select_background_color         #608e32
keyboard_select_text_color               #4b505b

custom_background_color                  #faf9f7
custom_text_color                        #16191f

ui_text_color                            #4b505b
ui_background_color                      #eeedea
ui_selected_text_color                   #4b505b
ui_selected_background_color             #dfe0d9

status_bar_color                         #eeedea
status_bar_text_color                    #4b505b
