reload_config <C-r>

move_right h
move_left l

next_page <C-d>
previous_page <C-u>

[m]control_menu(down) <C-j>
[m]control_menu(up) <C-k>
[m]control_menu(left) <C-h>
[m]control_menu(right) <C-l>

add_highlight ah
delete_highlight xh

enter_visual_mark_mode v
keyboard_select <C-v>

goto_mark ^

toggle_two_page_mode d

# synctex_under_ruler lv
