reload_config <C-r>

move_right l
move_left h
screen_down J
screen_up K

next_page <C-d>
previous_page <C-u>

[m]control_menu(down) <C-j>
[m]control_menu(up) <C-k>
[m]control_menu(left) <C-h>
[m]control_menu(right) <C-l>

add_highlight ah
delete_highlight xh

fit_to_page_width_smart s
fit_to_page_width S

enter_visual_mark_mode v
keyboard_select <C-v>

goto_mark ^

_set_light_theme zl
_set_dark_theme zd

toggle_two_page_mode d
toggle_statusbar zt

# synctex_under_ruler lv
