ui_font SF Mono
ui_background_color 0.933 0.945 0.957
ui_text_color 0.529 0.565 0.627
ui_selected_background_color 0.910 0.922 0.941
ui_selected_text_color 0.294 0.314 0.357

# status_font SF Mono
status_bar_color 0.933 0.945 0.957
status_bar_text_color 0.529 0.565 0.627
status_bar_font_size 11

keyboard_select_background_color 0.463 0.686 0.435
keyboard_select_text_color 0.980 0.980 0.980
keyboard_select_font_size 9

synctex_highlight_color 0.988 0.878 0.580

page_separator_width 5
page_separator_color 0.97 0.97 0.97

ruler_mode 1

collapsed_toc 1

should_launch_new_window 1
